.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  border-radius: 5px;

  .display4 {
    font-weight: bold; /* Make the heading bold */
    font-size: 2em;
  }

  p {
    margin-bottom: 30px; /* Space below the paragraph */
    font-size: 1.5em;
  }

  .btn-custom {
    background-color: #146c43; /* Button background color */
    color: white; /* Text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
  }

  .btn-custom:hover {
    background-color: #0c5030; /* Darker shade on hover */
  }
}
